<div class="HomeSettingController" ng-controller="HomeSettingController">
    <div class="title-container">
        <header>
            <span class="back">返回</span>
            <h1 class="txt-setting">设置</h1>
            <span class='more' ng-click=""></span>
        </header>
    </div>
    <div class="personal-detail">
        <a href="/#!/user/{{zwq}}/edit" class="layout-box">
            <span>个人资料</span>
            <span>></span>
        </a>
    </div>
    <div class="personal-detail">
        <a href="" class="layout-box">
            <span>隐私设置</span>
            <span>></span>
        </a>
    </div>
    <div class="personal-detail">
        <a href="" class="layout-box">
            <span>悄悄关注</span>
            <span>></span>
        </a>
    </div>
    <div class="personal-detail">
        <a href="" class="layout-box">
            <span>账号安全</span>
            <span>></span>
        </a>
    </div>
    <div class="personal-detail">
        <a href="/signout" class="layout-box signout">
            退出当前账号
        </a>
    </div>
</div>